*{
	margin:0;
	padding:0;
}

html{
	height:100%;
}

body{
	height:100%;
	font-family:OpenSans, Arial, Helvetica, Verdana, sans-serif;
}

h1{
	color:#666;
	background-color:rgba(255,255,255,0.6);
	font-size:300%;
	font-family:'museo_500';
	position:absolute;
	top:0;
	left:0;
	z-index:20;
	padding:0.2em 0.5em;
}

#map{
	height:100%;
	position:relative;
	z-index:10;
	opacity:0.8;
}


#controls{
	padding:0.2em;
	position:absolute;
	right:0;
	bottom:5%;
	background-color:rgba(180,180,180,0.6);
	font-size:0.8em;
	z-index:20;
}

#controls a{
	color:#EEE;
	text-decoration:none;
	padding:0 0.3em;
}

#controls a:hover{
	text-decoration:underline;
}
